################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/TcpReverseShell/Debug
/TcpReverseShell/TcpReverseShell/Debug
/TcpReverseShell/.vs/TcpReverseShell/v16
/TcpReverseShell/TcpReverseShell/Release
/TcpReverseShell/Release
